:root {
    --matte-white: #F3F3F3;
    --maple-red: #DE354C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--matte-white);
}


form {
    margin-top: 15px;    
}

.container {
    width: 85%;
    margin: 25px auto auto auto;
    background-color: white;
    box-shadow: 0 4px 9px 0 rgba(67, 65, 79, 0.1);
    border-radius: 3px;
}

.main-title {
    font-size: 30px;
    font-weight: 600;
}

.center-content {
    align-items: center;
    text-align: center;
    padding: 25px;
}

.main-btn {
    transition: 1.2s;
    cursor: pointer;
    width: 250px;
    margin: 50px 0 0 0;
    padding: 10px;
    background-color: white;
    border-width: .3px;
    border-radius: 3px;
    font-weight: bold;
    align-content: center;
}

.main-btn:hover {
    transition: 1.2s;
    background-color: var(--maple-red);
    color: white;
}

.genero-selec {
    width: 250px;
    margin: 10px auto;
    padding: 5px 10px 5px 15px;
    border-radius: 10px;
    border-width: 1px;
    border-color: #fa0021c7;
    border-style: solid;
    
    display: flex;
    align-items: flex-start;
    background-color: white;
}

#generos-container button {
    transition: 1.2s;
    margin-left: auto;
    padding: 0 10px;
    border-width: .3px;
    border-radius: 3px;
    font-weight: bold;
    
    cursor: pointer;
    background-color: white;
    align-content: center;
}

#generos-container button:hover {
    transition: 1.2s;
    background-color: var(--maple-red);
    color: white;
}