<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Collection Movies</title>
</head>
<body>
    <div class="container center-content">
        <span class="main-title">Listagem de Filmes</span>
        </br>
        <div class="list-of-movies">
            <!-- JS IRÁ PREENCHER AQUI -->
        </div>
        <button class="main-btn" id="btn-add-filme" type="submit">Adicionar Filme</button>
    </div>
    <script src="../scripts/index.js"></script>
</body>
</html>